* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/background.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.first_character {
    width: 150px;
    position: absolute;
    bottom: 10%;
    left: 5%;
    /* background-color: aqua; */
}

.second_character {
    width: 150px;
    position: absolute;
    bottom: 10%;
    right: 5%;
}
/* 
<h6>↑ for Jump</h6>
<h6>← for Walk Forward</h6>
<h6>→ for Walk Backward</h6>
<h6>Space Bar for Fire Ball</h6> */

.first_player  {
    margin-left: 10% !important;
    margin-top: 10%;
    background-color: transparent !important;
    border-color: white !important;
}

.first_player:focus .first_player:active .first_player:hover {
    border: none !important;
}

.second_player  {
    margin-left: 50% !important;
    margin-top: 10%;
    background-color: transparent !important;
    border-color: white !important;
}

.second_player:focus .second_player:active .second_player:hover {
    border: none !important;
}