* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/background.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.first_character {
    width: 150px;
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.second_character {
    width: 150px;
    position: absolute;
    bottom: 10%;
    right: 5%;
}

